### 분석 데이터('Job.csv')는 교육통계서비스(https://kess.kedi.re.kr)"2017 4년제 대학  학과계열별 졸업자 취업자 통계 정보"를 가공하여 'csv' 파일로 변환하고, 이름을 'Job.csv' 로 바꾼 것이다. 
#### 1. 대학 과정 고등교육기관 학제 기준임																
#### * 대학 과정 고등교육기관 학제는 일반대학, 교육대학, 방송통신대학, 산업대학, 기술대학, 각종학교(대학과정), 사이버대학(대학과정), 원격대학형태의 평생교육시설(대학과정), 사내대학형태의 평생교육시설(대학과정)에 해당함

## 전체 내용 출력

In [3]:
import pandas as pd

job = pd.read_csv("Job.csv",encoding="cp949")

job.head(10)

,대계열,중계열,소계열,졸업자_계,졸업자_남,졸업자_여,취업률_계,취업률_남,취업률_여,취업자_계,...,외국인유학생_여,제외인정자_계,제외인정자_남,제외인정자_여,기타_계,기타_남,기타_여,미상_계,미상_남,미상_여
0,인문계열,언어ㆍ문학,국어ㆍ국문학,37,14,23,57.1,66.7,52.2,20,...,-,-,-,-,15,4,11,-,-,-
1,인문계열,언어ㆍ문학,일본어ㆍ문학,90,24,66,50.0,58.3,47,45,...,-,-,-,-,45,10,35,-,-,-
2,인문계열,언어ㆍ문학,중국어ㆍ문학,64,25,39,54.8,50,57.9,34,...,-,1,-,1,28,12,16,-,-,-
3,인문계열,언어ㆍ문학,영미어ㆍ문학,207,92,115,54.2,56.8,52.2,109,...,-,1,1,-,90,38,52,2,-,2
4,인문계열,인문과학,국제지역학,140,60,80,60.7,58.3,62.5,85,...,-,-,-,-,55,25,30,-,-,-
5,사회계열,경영ㆍ경제,경영학,1280,763,517,66.1,66.2,66,807,...,14,5,2,3,398,236,162,16,9,7
6,사회계열,경영ㆍ경제,경제학,78,49,29,43.2,40,48.3,32,...,-,1,1,-,42,27,15,-,-,-
7,사회계열,경영ㆍ경제,관광학,35,7,28,85.7,100,82.1,30,...,-,-,-,-,5,-,5,-,-,-
8,사회계열,경영ㆍ경제,광고·홍보학,114,56,58,59.5,69.1,50,66,...,-,1,-,1,45,17,28,-,-,-
9,사회계열,경영ㆍ경제,금융ㆍ회계ㆍ세무학,126,79,47,52.4,53.2,51.1,66,...,-,-,-,-,53,33,20,7,4,3

## 소계열 개수 출력

In [4]:
job["소계열"].count()

70

## 취업률이 가장 높은 전공(20명 이상)

In [5]:
max_value = job[job["졸업자_계"] >= 20]["취업률_계"].max()

job[job["취업률_계"]==max_value]["소계열"]

30    에너지공학
Name: 소계열, dtype: object

## 대계열별, ' 졸업자_계', '졸업자_남'	'졸업자_여'	,  '취업률_계', 	'취업률_남', 	'취업률_여' 을 표로 만들고 이를 'job_great.csv' 로 저장

In [6]:
job_sub = job.copy()

def fill(series):
    series = list(series)
    for i in range(len(series)):
        if series[i] == "-":
            series[i] = 0
    return series

for i in job.columns:
    job_sub[i] = pd.Series(fill(job[i]))

In [7]:
job_great_sub = job_sub.iloc[:,[0,3,4,5,6,7,8,9,10,11]]
job_great_sub

      대계열  졸업자_계  졸업자_남 졸업자_여  취업률_계 취업률_남 취업률_여  취업자_계 취업자_남 취업자_여
0    인문계열     37     14    23   57.1  66.7  52.2     20     8    12
1    인문계열     90     24    66   50.0  58.3    47     45    14    31
2    인문계열     64     25    39   54.8    50  57.9     34    12    22
3    인문계열    207     92   115   54.2  56.8  52.2    109    50    59
4    인문계열    140     60    80   60.7  58.3  62.5     85    35    50
..    ...    ...    ...   ...    ...   ...   ...    ...   ...   ...
65  예체능계열     28      3    25   65.4     0  73.9     17     0    17
66  예체능계열     64     16    48   61.0  69.2  58.7     36     9    27
67  예체능계열    154     72    82   85.4  81.3  88.8    123    52    71
68  예체능계열      3      1     2   33.3   100     0      1     1     0
69  예체능계열    126     63    63   85.1  78.3  91.8    103    47    56

[70 rows x 10 columns]

## 데이터 type 확인

In [12]:
columns = list(job_great_sub.columns)

job_great_sub = job_great_sub.astype({columns[1] : int,columns[2] : int,columns[3] : int,columns[7] : int,columns[8] : int,columns[9] : int})
job_great_sub = job_great_sub.astype({columns[4] : float,columns[5] : float,columns[6] : float})
job_great_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 10 columns):
대계열      70 non-null object
졸업자_계    70 non-null int32
졸업자_남    70 non-null int32
졸업자_여    70 non-null int32
취업률_계    70 non-null float64
취업률_남    70 non-null float64
취업률_여    70 non-null float64
취업자_계    70 non-null int32
취업자_남    70 non-null int32
취업자_여    70 non-null int32
dtypes: float64(3), int32(6), object(1)
memory usage: 4.0+ KB